body {
	padding: 0;
	margin: 0;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#root {
	height: 100vh;
}

.drawer {
	width: 500px !important;
}

.basket-button {
	padding: 5px;
	border-radius: 5px;
	background-color: orange;
	border: none;
	color: white;
}

.basket-button:hover {
	padding: 5px;
	border-radius: 5px;
	background-color: rgb(255, 0, 0);
	border: none;
	color: rgba(255, 255, 255, 0.664);
}